.app {
	display: flex;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

.pixels {
	border: 1px solid #000;
}

.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	gap: 20px;

	.btn {
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 5px;
		padding: 15px 30px;
		cursor: pointer;
		transition: all 0.3s ease;
		font-size: 20px;

		&:hover {
			background-color: #000;
			color: #fff;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	.result {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.value {
			font-size: 24px;
			font-weight: bold;
			color: #a00;
		}

		.statistics {
			width: 700px;
			height: 250px;
		}
	}
}

.row {
	display: flex;
}
